## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [1]:
Number=[10,25,40,50]
Number

[10, 25, 40, 50]

Print the second element from the list.

In [2]:
Number[1]

25

Print the 0th element.

Print the third-to-last element using a minus sign in the brackets.

In [3]:
Number[-3]

25

Substitute the number 10 with the number 15.

In [4]:
Number[0]=15
Number

[15, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [5]:
del Number[1]

Number

Number=[10,25,40,50]
Number

In [6]:
Number=[10,25,40,50]
Number

[10, 25, 40, 50]

In [8]:
del Number[1]
Number

[10, 40, 50]